* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  text-align: center;
  background-color: #eee;
}

.text-1 {
  background-color: #ddd;
}

.image {
  margin-right: auto;
  margin-left: auto;
}

.text-2 {
  background-color: #aaa;
}